.DS_Store
target/
.classpath
.externalToolBuilders/
.project
.settings/
.springBeans
**/*.class
*/target/*
.idea
*.im*
.DS_Store
test-output/
*.lock
logs/*
*.ipr
*.iws
.pmd
target*/*
*/*/target/*
/target
*/.gitignore
*/*/.gitignore
